<div class="box"  [ngClass]="open ? 'grown' : ''">
    <button class="hamburger hamburger--spring" type="button" id='menu' (click)="activateMenu()" [ngClass]="open ? 'is-active' : ''">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

<nav class='fold-out'>
    <ul>
        <li [ngClass]="open ? 'activemenu' : ''">
            <a routerLink="/" (click)="deactivateMenu()"><i class="fas fa-home"></i></a>
        </li>
        <li [ngClass]="open ? 'activemenu' : ''">
            <a routerLink="/html" (click)="deactivateMenu()"><i class="fab fa-html5"></i></a>
        </li>
        <li [ngClass]="open ? 'activemenu' : ''">
            <a routerLink="/css" (click)="deactivateMenu()"><i class="fab fa-css3-alt"></i></a>
        </li>
        <li [ngClass]="open ? 'activemenu' : ''">
            <a routerLink="/angular" (click)="deactivateMenu()"><i class="fab fa-angular"></i></a>
        </li>
        <li [ngClass]="open ? 'activemenu' : ''">
            <a routerLink="/php" (click)="deactivateMenu()"><i class="fab fa-php"></i></a>
        </li>
        <li [ngClass]="open ? 'activemenu' : ''">
            <a routerLink="/profile" (click)="deactivateMenu()"><i class="fas fa-user"></i></a>
        </li>
    </ul>
</nav>

<button class="add-snippet" [ngClass]=" add ? 'active-add': '' " (click)='showAddModal()'>
    <i class="fas fa-plus" *ngIf="!add"></i>
    <i class="fas fa-times" *ngIf="add"></i>
</button>

<div class="mymodal" [ngClass]=" add ? 'active-modal' : ''" id="addModal">
    <div class="col-10 mx-auto pt-5 text-center">
        <h1>Time to add a snippet</h1>
    </div>
    <div class="col-10 mx-auto">
        <form action="">
            <div class="form-group form-row">
                <select name="" id="" class='form-control'>
                    <option value="html">html</option>
                    <option value="angular">Angular</option>
                    <option value="css">CSS</option>
                    <option value="php">PHP</option>
                </select>
            </div>
            <div class="form-group form-row">
                <textarea name="" rows="10" class='form-control' style='resize: none;'></textarea>
            </div>
            <div class="form-group form-row">
                <button type="submit" value="Add" class='btn btn-dark form-control'>Add</button>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>