<div class="box"  [ngClass]="open ? 'grown' : ''">
    <button class="hamburger hamburger--spring" type="button" id='menu' (click)="activateMenu()" [ngClass]="open ? 'is-active' : ''">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

<nav class='fold-out'>
    <ul>
        <li [ngClass]="open ? 'activemenu' : ''">
            <a routerLink="/" (click)="deactivateMenu()"><i class="fas fa-home"></i></a>
        </li>
        <li [ngClass]="open ? 'activemenu' : ''">
            <a routerLink="/html" (click)="deactivateMenu()"><i class="fab fa-html5"></i></a>
        </li>
        <li [ngClass]="open ? 'activemenu' : ''">
            <a routerLink="/css" (click)="deactivateMenu()"><i class="fab fa-css3-alt"></i></a>
        </li>
        <li [ngClass]="open ? 'activemenu' : ''">
            <a routerLink="/angular" (click)="deactivateMenu()"><i class="fab fa-angular"></i></a>
        </li>
        <li [ngClass]="open ? 'activemenu' : ''">
            <a routerLink="/php" (click)="deactivateMenu()"><i class="fab fa-php"></i></a>
        </li>
        <li [ngClass]="open ? 'activemenu' : ''">
            <a routerLink="/profile" (click)="deactivateMenu()"><i class="fas fa-user"></i></a>
        </li>
    </ul>
</nav>

<button class="add-snippet">
    <i class="fas fa-plus"></i>
</button>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>